*{
    margin: 0;
    padding: 0;
}
/* @Gustavo Apaza Huanca */
body{
    font-size: 20px;
}

nav{
    text-align: right;
    background: silver;
    padding: 5px 0;
}

nav a{
    /*border: solid 5px red;*/
    margin-left: 10px; /* Arriba | Derecha | Abajo | Izquierda */
}

img{
    width: 150px;
    margin: 10px 0; /* Vertical | Horizontal */
}

main{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

footer{
    background: silver;
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
}